section,header,article,nav{
	display: block;
}
*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 1em 10%;
     /*background-image: url(../imgs/FradyFuture.jpg)*/;
     background-attachment:fixed;
     background-position: center;
     background-repeat:repeat-y;
     max-width: 80em;
       
}
header{
/*	background-image: url(../imgs/3.jpg);*/
	background-repeat: no-repeat;
	background-position: bottom right;
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
	overflow: hidden;
}
header nav{
/*	background-image: url(../imgs/6.jpg);*/
	background-position: bottom left;
	background-repeat: repeat-x;
	border-style: solid;
	border-bottom-width: 0;
	border-width: .1em;
	border-top-width: 0;
	padding-left: 10%;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	border-left-width: .1em;
	border-left-style: solid;
}
header nav li{
	display: inline;
}
header nav li a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right: .1em solid;
}
article{
	border-width: .1em;
	border-style: solid;
	border-top-width: 0;
	padding: 2em 10%;
	line-height: 1.8em;
}
article img{
	border-width: .1em;
	border-style: solid;
	outline-width: .1em;
	outline-style: solid;
}